<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiftyfive.and_sampledmonaco">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Tutorial1" />
        <activity android:name=".Tutorial2" />
        <activity android:name=".Email_form" />
        <activity android:name=".Tutorial3" />
        <activity android:name=".Email_check" />
        <activity android:name=".Email_success" />
        <activity android:name=".Phone_form" />
        <activity android:name=".Verficiation_code_check" />
        <activity android:name=".Phone_success" />
        <activity android:name=".Legal_form" />
        <activity android:name=".Terms_and_conditions" />
        <activity android:name=".Id_name" />
        <activity android:name=".Id_scan" />
        <activity android:name=".Id_selfie" />
        <activity android:name=".Id_success" />
        <activity android:name=".Reserve_your_card"></activity>
    </application>

</manifest>